@use 'variaveis';

.authors {
    padding: 5.4vw;

    h2 {
        text-align: center;
        font-size: 64px;
        padding-bottom: 5vh;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3vw;
    }

    &__card {
        width: 100%;
        height: 600px;
        background-color: lighten(variaveis.$corPrimaria, 5%);
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow:
        10px 10px 15px variaveis.$sombraPrimaria, 
        15px 15px 15px variaveis.$sombraSecundaria;
        transition: all .4s ease-in-out;

        &:nth-child(1) &__picture {
            background-image: url(../images/diretores/Joaquim\ _dos_Santos.jpg);
        }

        &:nth-child(2) &__picture {
            background-image: url(../images/diretores/Justin_Thompson.jpg);
        }

        &:nth-child(3) &__picture {
            background-image: url(../images/diretores/Kemp_Powers.jpg);
        }

        &:hover {
            transform: translateY(-15px);
            box-shadow:
            0 25px 20px variaveis.$sombraPrimaria, 
            0 30px 20px variaveis.$sombraSecundaria;
        }
        

        &__picture {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background-color: bisque;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 25px 0;
        }
        
        &__text {
            max-width: 90%;
            text-align: center;

            h5 {
                font-size: 32px;
                margin-bottom: 25px;
            }
        }
    }
}