@use 'variaveis';

.gallery {
    width: 100%;
    background-color: variaveis.$corSecundaria;

    &__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        }

        &__img {
            display: flex;    
            width: 24.8vw;
            background-color: blue;
            align-items: flex-end;
            justify-content: center;
            height: 695.09px;

            @media (max-width: 768px) {
                width: 100%;
            }

            &__container {
                max-width: 300px;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 2vh;
                transition: all .4s ease-out;
                opacity: 0;
            }

            &__actors {
                width: 150px;
                height: 150px;
                background-color: red;
                border-radius: 50%;
                opacity: 1;
            }

            &__text {
                margin-top: 1vh;
                text-align: center;
                font-size: 24px;

                p {
                    font-size: 16px;
                }
            }

            &:nth-child(1) {
                background-image: url(../images/gallery/homem_aranha_miles.jpg);
                background-repeat: no-repeat;
                background-size: cover;

                .gallery__content__img__actors {
                    background-image: url(../images/atores_atrizes/Shameeik_Moore-miles.webp);
                }
            }

            &:nth-child(2) {
                background-image: url(../images/gallery/Gwen_spider.jpeg);
                background-repeat: no-repeat;
                background-size: cover;

                .gallery__content__img__actors {
                    background-image: url(../images/atores_atrizes/Hailee_Steinfeld-gwen.jpg);
                }
            }

            &:nth-child(3) {
                background-image: url(../images/gallery/spider_man_2099.jpeg);
                background-repeat: no-repeat;
                background-size: cover;

                .gallery__content__img__actors {
                    background-image: url(../images/atores_atrizes/Oscar_Isaac-miguel.webp);
                }
            }

            &:nth-child(4) {
                background-image: url(../images/gallery/spider_punk.jpeg);
                background-repeat: no-repeat;
                background-size: cover;

                .gallery__content__img__actors {
                    background-image: url(../images/atores_atrizes/Daniel_Kaluuya-hobart-brown.jpg);
                }
            }

            &:nth-child(5) {
                background-image: url(../images/gallery/Spider_woman.jpeg);
                background-repeat: no-repeat;
                background-size: cover;

                .gallery__content__img__actors {
                    background-image: url(../images/atores_atrizes/Issa_Rae-jessica-drew.jpg);
                }
            }

            &:nth-child(6) {
                background-image: url(../images/gallery/Pavitr\ Prabhakar.png);
                background-repeat: no-repeat;
                background-size: cover;

                .gallery__content__img__actors {
                    background-image: url(../images/atores_atrizes/Karan_Soni-pavitr-prabhakar.webp);
                }
            }

            &:nth-child(7) {
                background-image: url(../images/gallery/mayday.jpeg);
                background-repeat: no-repeat;
                background-size: cover;

                .gallery__content__img__actors {
                    background-image: url(../images/atores_atrizes/Jake_Johnson\(XVI\)-mayday-parker.jpg);
                }
            }

            &:nth-child(8) {
                background-image: url(../images/gallery/spot.jpg);
                background-repeat: no-repeat;
                background-size: cover;

                .gallery__content__img__actors {
                    background-image: url(../images/atores_atrizes/Jason_Schwartzman-the-spot.jpg);
                }
            }
            
            &:hover .gallery__content__img__container  {
                opacity: 1;
                transform: translateY(-450px);
            }
        }
    }
}