@use 'variaveis';
@use 'video';
@use 'header';
@use 'sinopse';
@use 'authors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bangers', cursive;
    text-decoration: none;
    list-style: none;
    color: #fff;
}

body {
    background-color: variaveis.$corPrimaria;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 8px 14px;
    letter-spacing: 1px;
    background-color: variaveis.$btnPrimario;
    color: #fff;
    border: 1px solid variaveis.$corPrimaria;
    
    &:hover {
        background-color: darken(variaveis.$btnPrimario, 15);
    }
}

.reflection-title {
        font-size: 24px;
        color: #ffffff;
        text-shadow: 0 10px 4px rgba(240, 20, 20, 0.5);
}

.reflection-text {
    font-size: 24px;
    color: #ffffff;
    text-shadow: 0 6px 8px rgba(8, 5, 187, 0.5);
}

.container {
    max-width: 1024px;
    width: 100%;
    display: flex;
    margin: 0 auto;
}








