@use 'variaveis';
@use 'video';
@use 'header';
@use 'sinopse';
@use 'authors';
@use 'gallery';
@use 'trailers';
@use 'critics';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bangers', cursive;
    text-decoration: none;
    list-style: none;
    color: #fff;
    scroll-behavior: smooth;
}

body {
    background-color: variaveis.$corPrimaria;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 8px 14px;
    letter-spacing: 1px;
    background-color: transparent;
    color: #fff;
    border: 1px solid transparent;
    
    &:hover {
        border-bottom: 2px solid #ff0000;
    }

    @media (max-width: 768px) {
        background-color: variaveis.$btnPrimario;

        &:hover {
            border: none;
            background-color: darken(variaveis.$btnPrimario, 10);
        }
    }
}

.reflection-title {
        font-size: 24px;
        color: #ffffff;
        text-shadow: 0 10px 4px rgba(240, 20, 20, 0.5);
}

.reflection-text {
    font-size: 24px;
    color: #ffffff;
    text-shadow: 0 6px 8px rgba(8, 5, 187, 0.5);
}

.container {
    max-width: 1024px;
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.bi-twitter, .bi-instagram, .fab {
        font-size: 32px;
        transition: all .2s ease;
}

.bi-twitter:hover, .bi-instagram:hover, .fab:hover {
    color: variaveis.$corSecundaria;
}

.bi-star-fill {
    color: #daa520;
    padding: 0.5vw;
    font-size: 48px;

    @media (max-width: 768px) {
        font-size: 24px;
    }
}

.fa-spider {
    font-size: 32px;
}










